*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #040F3D; }

.heading-primary {
  color: #C6C4C5;
  font-family: 'Amaranth', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 6rem; }

.header {
  font-size: 9rem;
  text-align: center;
  margin-top: -1.7em; }

.navigation {
  padding: 5em 1em;
  border-bottom: 1px solid #C6C4C5; }
  .navigation__nav {
    display: flex;
    flex-basis: row;
    justify-content: space-evenly;
    list-style: none; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #040F3D;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all .2s ease-in; }
    .navigation__link:link:hover, .navigation__link:visited:hover {
      color: #4BFFA5; }
