.navigation {
    padding: 5em 1em;
    border-bottom: 1px solid $secondary;
    &__nav {
        display: flex;
        flex-basis: row;
        justify-content: space-evenly;
        list-style: none;
    }
    &__item {}
    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $primary;
            font-size: 1.5rem;
            text-transform: uppercase;
            @include transitionAll;
            &:hover {
                color: $accent;
            }
        }
    }
}