body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $primary;
}

.heading-primary {
    color: $secondary;
    font-family: 'Amaranth', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 6rem;
}